name: Lint

on:
  push:
    branches:
      - stage
      - main
  pull_request:
    types: [opened, synchronize]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup make
        run: sudo apt-get update && sudo apt-get install make

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: |
            go.sum
            ssvsigner/go.sum

      - name: Run tools
        run: make tools

      - name: Run make lint
        run: make lint